{% extends 'main.html' %}
{% block content %}
<style>
     .content-table thead tr{
        background-color: #131313d6;
        color: white;
        text-align: left;
        font-weight: bold;
    }
</style>
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
              
    <div class="card">
    <div class="card-header">
    <h3 class="card-title">ADD USER TO GROUP</h3>
    </div>

    </div>
    <form  action="#" method="POST">
      {% csrf_token %}
      <thead>
        <div class="form-group col-md-6">
          <select name="group" class="form-control">
            {% for group in groups %}
              <option value="{{group.id}}">{{group.name}}</option>
            {% endfor %}

          </select>
      </div>
      <button  type="submit" class="btn btn-primary btn-sm fa fa-angle-left"></i>Submit</button>
      </thead>
    </form>           
    <div class="card">
      <div class="card-header">
      <h3 class="card-title">view_groups</h3>
      </div>
      <!-- /.card-header -->
              <div class="card-body">
              <table id="#" class="table table-bordered table-striped content-table" >
   
       
           <thead>
               <tr>
                   <th>name</th>
                   

                   
                   
                   
                   
   
   </tr>
           </thead>
               <tbody>
                   {% for cc in u_groups %}
                   <tr>
                       <td>{{cc.name}}</td>
                      
                  </tr>
                  {% endfor %}
                   </tbody>
               
               
               </table>
           
           
           </div>
           
           </div>






</div>
    
          

          <div>
       </div>
              
        </tr>
      
      
            
        </tbody>
        
      
      
        
    


</thead>
</table>
  </div>
  </div>
  </div> 
    
</div>
</div>
</div>
</section>

  
    
    {% endblock %}