{% extends 'main.html' %}
{% block content %}
<style>
     .content-table thead tr{
        background-color: #131313d6;
        color: white;
        text-align: left;
        font-weight: bold;
    }
</style>
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
              
    <div class="card">
    <div class="card-header">
    <h3 class="card-title">ADD USER TO GROUP</h3>
    </div>

    </div>
    <form  action="{% url 'add-user-to-group'%}" method="POST">
      {% csrf_token %}
      <thead>
        <div class="form-group col-md-6">
          <select name="group" class="form-control">
            {% for group in groups %}
              <option value="{{group.id}}">{{group.name}}</option>
            {% endfor %}

          </select>
      </div>
      <button  type="submit" class="btn btn-primary btn-sm fa fa-angle-left"></i>Submit</button>
      </thead>
    </form>           
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped content-table" >
      <thead>
          <tr>
              <th>name</th>
              <th>actions</th>
              
          </tr>                         

</thead>
          
          <tbody>
              {% for cc in ugroup %}
              <tr>
                  <td>{{c.name}}</td>
                 

                   <td class="text-center">
                    <div class="btn-group">
                    <a href="#" data-toggle="tooltip" title="delete" class="btn btn-xs btn-danger"><i class="fa fa-times">delete</i></a>
                    </div>

                   </td>
              </tr>
              <!-- {% endfor %} -->
          </tbody>
      
      
</table>






</div>
    
          

          <div>
       </div>
              
        </tr>
      
      
            
        </tbody>
        
      
      
        
    


</thead>
</table>
  </div>
  </div>
  </div> 
    
</div>
</div>
</div>
</section>

  
    
    {% endblock %}