{% extends 'main.html'%}
{% block content %}


<div class="container text-center" style="margin-top: 50px;">
    <h1 class="text-center" >contact us</h1>
    <div class="row mt-5 text-center">
      <div class="col lg-3">
        <h4><i class="fas fa-phone-square"> contact</i></h4>
        <p class="text-danger"><a href="tel:+252616244000">+252626244000</a></p>
      </div>
      <div class="col lg-3">
        <h4><i class="fa fa-envelope">send email</i></h4>
        <p><a class="font-weight-bold mt-3" href="mail:abc@gmail.com">abc@gmail.com</a></p>
      </div>
      <div class="col lg-3">
        <h4><i class="fa fa-address-card">office address</i></h4>
        <p><a href="http:maps/google.com/?q/fnjhffjhef">ka</a></p>
      </div>
      <div class="col lg-3">
        <h4><i class="fa fa-clock">office time</i></h4>
        <p>10am to 5pm</p>
      </div>
    </div>
  </div>


{% endblock %}
